Registration/Connected Services/FormService/FormService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56356/FormService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iPAS_UserService_DAL.Model" />
  <xs:element name="Welcome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WelcomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WelcomeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationFormData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iPAS_UserService_DAL.Model" minOccurs="0" name="data" nillable="true" type="q1:FormData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationFormDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iPAS_UserService_DAL.Model" minOccurs="0" name="RegistrationFormDataResult" nillable="true" type="q2:FormData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDays">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="day" type="xs:int" />
        <xs:element minOccurs="0" name="Month" type="xs:int" />
        <xs:element minOccurs="0" name="year" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateDaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalculateDaysResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>