Registration/Connected Services/FormService/FormService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iPAS_UserService_DAL.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iPAS_UserService_DAL.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FormData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dob" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Meal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FormData" nillable="true" type="tns:FormData" />
</xs:schema>